<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/> -->

    <title>Climate_ART</title>

    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>

    <link rel="stylesheet" href="index.css"/>
</head>
<body>
    <p class="info__logo" onClick='showInfoBox()'>
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg>
    </p>
    <h1>Climate_ART</h1>

<div id="map"></div>

<div class="segment" style="width: 100vw; margin: 3px auto;">
    <div class="segment__item">
      <input type="radio" class="segment__input" name="segment-a" onclick="showObjectsToPlace('Nature')" checked>
      <div class="segment__button">Nature</div>
    </div>
    <div class="segment__item">
      <input type="radio" class="segment__input" name="segment-a" onclick="showObjectsToPlace('PowerPlants')">
      <div class="segment__button">Power Plants</div>
    </div>
    <!-- <div class="segment__item">
      <input type="radio" class="segment__input" name="segment-a" onclick="showObjectsToPlace('Other')">
      <div class="segment__button">Other</div>
    </div> -->
  </div>

  <div id="Nature" style="display: inline;">
    <div class="objectContainer">
        <div class="objectCard" id="object-bush" onclick="changeObject('bush')">
            <img class="objectImg" src="./naturePics/bush3d.png"></img>
            <div><b>Bush</b></div>
            <div class="objectPrice"><img class="coinImg" src="coin.png"></img> 50</div>
        </div>
        <div class="objectCard" id="object-tree" onclick="changeObject('tree')">
            <img class="objectImg" src="./naturePics/tree3d.png"></img>
            <div><b>Tree</b></div>
            <div class="objectPrice"><img class="coinImg" src="coin.png"></img> 100</div>
        </div>
        <div class="objectCard" id="object-rock" onclick="changeObject('rock')">
            <img class="objectImg" src="./naturePics/rock3d.png"></img>
            <div><b>Rock</b></div>
            <div class="objectPrice"><img class="coinImg" src="coin.png"></img> 10</div>
        </div>
        <div class="objectCard" id="object-pine" onclick="changeObject('pineTree')">
            <img class="objectImg" src="./naturePics/pineTree3d.png"></img>
            <div><b>Pine</b></div>
            <div class="objectPrice"><img class="coinImg" src="coin.png"></img> 100</div>
        </div>
    </div>
  </div>

  <div id="PowerPlants" style="display: none;">
    <div class="objectContainer">
       <div class="objectCard" id="object-coal" onclick="changeObject('coal')">
           <img class="objectImg" src="./powerProductionPics/coal3d.png"></img>
           <div><b>Coal</b></div>
           <div class="objectPrice"><img class="coinImg" src="coin.png"></img> 500</div>
       </div>
       <div class="objectCard" id="object-nuclear" onclick="changeObject('nuclear')">
           <img class="objectImg" src="./powerProductionPics/nuclear3d.png"></img>
           <div><b>Nuclear</b></div>
           <div class="objectPrice"><img class="coinImg" src="coin.png"></img> 500</div>
       </div>
       <div class="objectCard" id="object-solar" onclick="changeObject('solar')">
           <img class="objectImg" src="./powerProductionPics/solar3d.png"></img>
           <div><b>Solar</b></div>
           <div class="objectPrice"><img class="coinImg" src="coin.png"></img> 1000</div>
       </div>
       <div class="objectCard" id="object-wind" onclick="changeObject('wind')">
           <img class="objectImg" src="./powerProductionPics/windturbine3D.png"></img>
           <div><b>Wind</b></div>
           <div class="objectPrice"><img class="coinImg" src="coin.png"></img> 1000</div>
       </div>
   </div>
 </div>

<template id="infobox">
    <ons-alert-dialog id="info-dialog" modifier="rowfooter">
        <div class="alert-dialog-title">Information</div>
        <div class="alert-dialog-content">
            <hr/> 
            <b>How to use</b>
            <br></br>
            Choose an object from the panel at the bottom. You can choose from different categories.
            <br></br>
            Place the object on the map and see your object being placed in the big world on the larger screen
            <br></br>

            <b>More info</b>
            <br></br>
            <a href="https://dh2413-group4-macrophighters.github.io/Climate-Project-Web/">Visit our project web</a>
            <br></br>
        </div>
        <div class="alert-dialog-footer">
            <ons-alert-dialog-button onclick="hideInfoBox()">OK</ons-alert-dialog-button>
        </div>
    </ons-alert-dialog>
</template>

<template id="start_popup">
    <ons-alert-dialog id="start-dialog" modifier="rowfooter">
        <div class="alert-dialog-title">Hello there! 👋</div>
        <div class="alert-dialog-content">
            You are about to enter Climate_ART. But before we start we would like to know who you are.
            <br></br>
            <ons-input id="alias" modifier="underbar" placeholder="Enter an alias" float></ons-input>
        </div>
        <div class="alert-dialog-footer">
            <ons-alert-dialog-button onclick="hideStartPopup()">OK</ons-alert-dialog-button>
        </div>
    </ons-alert-dialog>
</template>

<script >
    var clientName = localStorage.getItem("clientName");

    var budget = parseInt(localStorage.getItem("budget"));

    // create infobox
    var showInfoBox = function() {
        ons.createElement('infobox', {append: true})
        .then(function(dialog) {
            dialog.show();
        })
    }

    // hide infobox
    var hideInfoBox = function() {
        document
        .getElementById('info-dialog')
        .hide();
    }

    if (clientName == '' || clientName == null) {
        // creates the start pop-up
        ons.createElement('start_popup', { append: true })
        .then(function(dialog) {
            dialog.show();
        });
    }

    // close the start pop-up if an alias have been given
    var hideStartPopup = function() {
        clientName = document.getElementById('alias').value;
        if (clientName!='' && clientName != null) {
            localStorage.setItem("clientName", clientName);
            document
            .getElementById('start-dialog')
            .hide();
            budget = 4000;
            console.log("budget " + budget);
            }
        else {
            ons.notification.alert('Enter an alias');
        }
    };

     // show objects when category-button is pressed
     var showObjectsToPlace = function(objects) {
        natureDiv = document.getElementById('Nature')
        powerPlantsDiv = document.getElementById('PowerPlants')
        
        if (objects == 'Nature'){
            powerPlantsDiv.style.display = "none";
            natureDiv.style.display = "inline";
        }
        if (objects == 'PowerPlants'){
            natureDiv.style.display = "none";
            powerPlantsDiv.style.display = "inline";
        }

    }

    var host = "<%= host %>";
    var port = "<%= port %>";
    console.log('Host: ' + host + ':' + port);
    const socket = new WebSocket('ws://' + host + ':' + port);
    socket.onopen = function(event) {
        socket.send('new-client ');
    };

    //objectType should be set by chosing object in a list
    var objectType = "tree";
    //List of object-images placed on the map
    var overlays = [];
    //The state holds the ID of the latest placed object, and a json string with all IDs and placements of objects.
    var state = '{"newID":"" , "objects":{}}';
    //placed_objects holds the IDs and places of all objects currently placed on the client map
    var placed_objects = '{}';
    var objects_layer = L.layerGroup([]);

    var map = L.map('map', {crs: L.CRS.Simple}).setView([0, 0], 1);
    map.setMaxBounds(map.getBounds());

    var imageUrl = '/uploads/map.png', imageBounds = [[-111,-111], [112, 112]];
    let overlay = L.imageOverlay(imageUrl, imageBounds, {interactive: true}).addTo(map);
    objects_layer.addTo(map);

    const objectCosts = new Map([["tree", 100], ["pineTree", 100], ["bush", 50], ["rock", 10], ["coal", 500], ["nuclear", 500], ["solar", 1000], ["wind", 1000]]);

    function changeObject(objectName){
        objectType = objectName;
    }

    //clears the state and removes everything from the map
    function clearState() {
        objects_layer.remove();
        state = '{"newID":"" , "objects":{}}';
        placed_objects = '{}';
        overlays = [];
        objects_layer = L.layerGroup([]);
        objects_layer.addTo(map);
    }

    //updates state and adds anything new to the map
    function update_state(message) {
        state = message;
        const json = JSON.parse(state);
        const new_objects = json.objects;
        const old_objects = JSON.parse(placed_objects);
        objects_layer.remove();
        for (var ID in new_objects) {
            if (new_objects.hasOwnProperty(ID) && !old_objects.hasOwnProperty(ID)) {
                switch(new_objects[ID].type) {
                    case "tree":
                        drawObject(new_objects[ID].x, new_objects[ID].y, new_objects[ID].clientName, ID, 2, '/tree.png');
                        break;
                    case "bush":
                        drawObject(new_objects[ID].x, new_objects[ID].y, new_objects[ID].clientName, ID, 1.5, '/naturePics/bushTopDown.png');
                        break;
                    case "rock":
                        drawObject(new_objects[ID].x, new_objects[ID].y, new_objects[ID].clientName, ID, 1.3, '/naturePics/rockTopDown.png');
                        break;
                    case "pineTree":
                        drawObject(new_objects[ID].x, new_objects[ID].y, new_objects[ID].clientName, ID, 2, '/naturePics/pineTreeTopDown.png');
                        break;
                    case "coal":
                        drawObject(new_objects[ID].x, new_objects[ID].y, new_objects[ID].clientName, ID, 10, '/powerProductionPics/coalTopDown.png');
                        break;
                    case "nuclear":
                        drawObject(new_objects[ID].x, new_objects[ID].y, new_objects[ID].clientName, ID, 14, '/powerProductionPics/nuclearTopDown.png');
                        break;
                    case "solar":
                        drawObject(new_objects[ID].x, new_objects[ID].y, new_objects[ID].clientName, ID, 6, '/powerProductionPics/solarTopDown.png');
                        break;
                    case "wind":
                        drawObject(new_objects[ID].x, new_objects[ID].y, new_objects[ID].clientName, ID, 12, '/powerProductionPics/windturbineTopDown.png');
                        break;
                    default: throw 'objectType does not exist';
                }
                old_objects[ID] = new_objects[ID];
            }
        }
        placed_objects = JSON.stringify(old_objects);
        objects_layer = L.layerGroup(overlays);
        objects_layer.addTo(map);
    }

    //Handles data sent from the server (for now only drawing tree image in the right spot)
    socket.onmessage = (event)=>{
        console.log(event);
        var message = event.data;
        console.log(message);
        var message_type = message.substr(0,message.indexOf(' '));
        switch(message_type) {
            case "clear":
                clearState();
                break;
            case "new-client":
                console.log("new_client");
                break;
            case "remove":
                remove_from_state(message.substr(message.indexOf(' ') + 1));
                break;
            default: update_state(message);
        }
    }

    function remove(id) {
        const json = JSON.parse(state);
        const objectToRemove = json.objects[id];
        console.log("type " + objectCosts[objectToRemove.type]);
        console.log("value " + cost);
        budget += objectCosts[objectToRemove.type];
        localStorage.setItem("budget", budget.toString());
        console.log("budget " + budget);
        socket.send("remove " + id);
    }

    function remove_from_state(id) {
        const json = JSON.parse(state);
        delete json.objects[id];
        json.newID = "";
        clearState();
        const new_objects = json.objects;
        for (var ID in new_objects) {
            if (new_objects.hasOwnProperty(ID)) {
                switch(new_objects[ID].type) {
                    case "tree":
                        drawObject(new_objects[ID].x, new_objects[ID].y, new_objects[ID].clientName, ID, 2, '/tree.png');
                        break;
                    case "bush":
                        drawObject(new_objects[ID].x, new_objects[ID].y, new_objects[ID].clientName, ID, 1.5, '/naturePics/bushTopDown.png');
                        break;
                    case "rock":
                        drawObject(new_objects[ID].x, new_objects[ID].y, new_objects[ID].clientName, ID, 1.3, '/naturePics/rockTopDown.png');
                        break;
                    case "pineTree":
                        drawObject(new_objects[ID].x, new_objects[ID].y, new_objects[ID].clientName, ID, 2, '/naturePics/pineTreeTopDown.png');
                        break;
                    case "coal":
                        drawObject(new_objects[ID].x, new_objects[ID].y, new_objects[ID].clientName, ID, 10, '/powerProductionPics/coalTopDown.png');
                        break;
                    case "nuclear":
                        drawObject(new_objects[ID].x, new_objects[ID].y, new_objects[ID].clientName, ID, 14, '/powerProductionPics/nuclearTopDown.png');
                        break;
                    case "solar":
                        drawObject(new_objects[ID].x, new_objects[ID].y, new_objects[ID].clientName, ID, 6, '/powerProductionPics/solarTopDown.png');
                        break;
                    case "wind":
                        drawObject(new_objects[ID].x, new_objects[ID].y, new_objects[ID].clientName, ID, 12, '/powerProductionPics/windturbineTopDown.png');
                        break;
                    default: throw 'objectType does not exist';
                }
            }
        }
        placed_objects = JSON.stringify(new_objects);
        objects_layer = L.layerGroup(overlays);
        objects_layer.addTo(map);
        state = JSON.stringify(json);
    }

    //Loading the tree image and draws it with (x,y) as center.
    function drawObject(x, y, clientName, objectID, sizeFactor, imagePath) {
        console.log(objectID);
        var lowX = x-sizeFactor;
        var highX = x+sizeFactor;
        var lowY = y-sizeFactor;
        var highY = y+sizeFactor;
        var imageUrl = imagePath, imageBounds = [[lowY,lowX], [highY, highX]];
        var button = '<br/><button type="button" class="btn btn-primary" onclick="remove(\''+objectID+'\')">Remove</button>'
        overlay = L.imageOverlay(imageUrl, imageBounds, {interactive: true}).bindPopup('Added by: ' + clientName + button);
        overlays.push(overlay);
    }

    //generates random id;
    let guid = () => {
        let s4 = () => {
            return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
        }
        //return id of format 'aaaaaaaa'-'aaaa'-'aaaa'-'aaaa'-'aaaaaaaaaaaa'
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
    }

    overlay.on('click', function(d) {
        var cost = objectCosts.get(objectType);
        if (cost > budget) {
            console.log('not enough money!');
            return;
        }

        budget -= cost;
        localStorage.setItem("budget", budget.toString());
        var coord = d.latlng;
        var lng = coord.lng;
        var lat = coord.lat;
        var ID = guid();
        console.log("budget " + budget);
        sendCoords(objectType, lng, lat, ID, clientName);
    });

    //Send the coordinates of spot which was tapped by user
    function sendCoords(objectType, x, y, ID, clientName) {
        const stateJson = JSON.parse(state);
        var data = "{}";
        const dataJson = JSON.parse(data);
        dataJson.type = objectType;
        dataJson.x = x;
        dataJson.y = y;
        dataJson.clientName = clientName;
        stateJson.objects[ID] = dataJson;
        stateJson.newID = ID;
        var new_state = JSON.stringify(stateJson);
        socket.send(new_state);
    }
    /*
    *
     */
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
